/*
* This is the style file for components
* 
* It contains style for :
*   - MenuBar
*   - Buttons
*   - 
*/

/* PAGE */
#Page {
  width: 88vw;
  height:92vh;
  position:absolute;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin-left: 50px;
}

/* Header Bar */
#HeaderBar {
  position: absolute;
  top:0;
  left: 0;

  width: 100vw;
  height: 8vh;
  background-color: rgb(15, 15, 15);

  display: flex;
  justify-content: flex-start;

  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

#HeaderBar h1 {
  margin: 0px 50px 0px 50px;
}

#HeaderBar p {
  margin: 0px;
}

.headerComponent {
  padding: 5px 30px 5px 30px;
  margin: 0 1px 0 1px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: rgb(71, 71, 71);
  background-color: var(--greyDark);
}
.labelHeaderComp {
  font-size: 20px;
  color: rgb(212, 212, 212);
}


/* MenuBar */
#MenuBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 92vh;
  width: 12vw;

  background-color: var(--greyDark);
}

#MenuBar ul {
  width: 100%;
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-size: 0.8em;
}

#MenuBar li {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0px 20px 50px;
  cursor: pointer;
}

.menuButton {
  color: rgba(222, 229, 235, 0.863);
}
.menuButton:hover {
  color: rgb(255, 255, 255);
}

.menuButtonActive {
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: rgb(0, 195, 255);
  background: linear-gradient(0deg, rgba(57, 181, 206, 0.05) 0%, rgba(57, 181, 206, 0.541) 100%); 
}

/* TRANFSERS 
--------------------------------------------------------
*/
/* Containes all Transfer Components */
.transfers {
  display: flex;
  flex-direction: column;
  width: 75%;
  
  border: 1px solid;
  border-color: rgb(131, 131, 131);
  filter: drop-shadow(0 0 0.55rem rgb(26, 26, 26));
  font-size: 20px;
}
/* This is the Transfer Component */
.transferContainer {
  padding: 0px 20px 0px 20px;
  background-color: var(--greyDark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transferHeader {
  font-weight: bold;
}
.transferContainer p {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  margin: 15px 40px 15px 40px;
}
.transferType {
  background-color: blueviolet;
  border-radius: 10px;
  padding: 8px;
}
.transferComment {
  font-size: 16px;
}
.transferValue {
  font-size: 22px;
}
.transferPerso {
  font-size: 22px;
}

.addTransferContainer {
  padding: 0px 20px 0px 20px;
  margin-top: 25px;
  border: 2px solid;
  border-color: aliceblue;
  border-radius: 15px;
  background-color: var(--greyDark);

  display: flex;
}