/*
* This is the style file for components
* 
* It contains style for :
*   - MenuBar
*   - Buttons
*   - 
*/

/* PAGE */
#Page {
  width: 88%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {

}

/* BUTTONS */
.baseButton {
  background-color: rgb(0, 195, 255);
  font-size: 22px;
  color: white;
  font-family: 'Ubuntu';
  border: 0px none;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* Header Bar */
#HeaderBar
{
  position: absolute;
  top:0;
  left: 0;

  width: 100%;
  height: 8vh;
  background-color: rgb(15, 15, 15);
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));

  display: flex;
  justify-content: space-between;

}
#HeaderLeft {
  display: flex;
  justify-content: flex-start;
}
#HeaderRight {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 30%;
}

#HeaderBar h1 {
  margin: 0px 50px 0px 50px;
}

#HeaderBar p {
  margin: 0px;
}

.headerComponent {
  padding: 5px 30px 5px 30px;
  margin: 0 1px 0 1px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: rgb(71, 71, 71);
  background-color: var(--greyDark);
}
.labelHeaderComp {
  font-size: 20px;
  color: rgb(212, 212, 212);
}

.logout {
  cursor: pointer;
}
.pseudoCircle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}




/* MenuBar */
#MenuBar {
  padding-top: 100px;
  width: 12%;
  background-color: var(--greyDark);
}
#MenuBar a {
  width: 100%;
}
#MenuBar ul {
  width: 100%;
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-size: 0.8em;
}

#MenuBar li {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0px 20px 50px;
  cursor: pointer;
}

.menuButton {
  color: rgba(222, 229, 235, 0.863);
}
.menuButton:hover {
  color: rgb(255, 255, 255);
}

.menuButtonActive {
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: rgb(0, 195, 255);
  background: linear-gradient(0deg, rgba(57, 181, 206, 0.05) 0%, rgba(57, 181, 206, 0.541) 100%); 
}

/* TRANFSERS 
--------------------------------------------------------
*/
/* Containes all Transfer Components */
.transfers {
  display: flex;
  flex-direction: column;
  width: 75%;
  
  border: 1px solid;
  border-color: rgb(131, 131, 131);
  filter: drop-shadow(0 0 0.55rem rgb(26, 26, 26));
  font-size: 20px;
  margin: 50px;
}
/* This is the Transfer Component */
.transferContainer {
  padding: 0px 20px 0px 20px;
  background-color: var(--greyDark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transferHeader {
  font-weight: bold;
}
.transferContainer p {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  margin: 15px;
}
.transferType {
  background-color: blueviolet;
  border-radius: 10px;
  padding: 8px;
}
.transferComment {
  font-size: 16px;
}
.transferValue {
  font-size: 22px;
}
.transferPerso {
  font-size: 22px;
}

/* FORM ADD TRANSFERT */
#inputTransferCount {
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputTransferCount input {
  margin-left: 40px;
}

#FormAddTransfertContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formAddTransfer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  margin-top: 25px;
  border: 1px solid;
  border-color: rgb(124, 124, 124);
  border-radius: 5px;
  background-color: var(--greyDark);
  
  font-size: 20px;
}

.formAddTransfer div {
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  font-weight: bold;
}


/* Container Forms */
.container-options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 20px;
  margin-top: 25px;
  border: 1px solid;
  border-color: rgb(124, 124, 124);
  border-radius: 5px;
  background-color: var(--greyDark);
  
  font-size: 20px;
}



/* LOGIN */
#LoginContainer {
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 30vw;
}
#LoginContainer form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#LoginContainer input {
  height: 100%;
}
.loginFailedWarning {
  color: red;
}


