/*
* This is the main style file for Eucleia Project
* 
* It contains:
*   - Colors
*   - Fonts
*   - 
*/


/* Colors */
:root {
  --blueTypo: #8186AF;
  --blueBody: #22203d;      
  --blueBackground: #151431;  
  --blueLight: #43FCFF;

  --red: #e2442f;
  --redLight: #e07162;

  --green: #2fe23e;
}



/* Fonts */
