.App {
  font-family: 'Montserrat';

  background-color: var(--blueBackground);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

#Container-App {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

a:link
{
	color:white;
	text-decoration: none;
}
a:visited
{
	color:white;
	text-decoration: none;
}
a:hover {
	color:white;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  font-size: 0.7em;
  background-color: var(--blueTypo);
  border: none;
  color: white;
}

input[type=number], input[type=date] {
  box-sizing: border-box;
  font-size: 0.7em;
  background-color: var(--blueTypo);
  border: none;
  padding: 12px 20px;

}

input[type=color] {
  -webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}

select {
  border: none;
  font-size: 20px;
  padding: 10px;
  background-color: var(--blueTypo);
  color: var(--blueBackground);
}


input[type="checkbox"] {
  cursor: pointer; 
}



svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}